.blinking-caret {
    color: lime;
    animation: blink-animation 1.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
}

.mini-header {
    font-weight: bold;
    font-size: 13pt;
}

.lime-header {
    color: lime;
    font-weight: bold;
    font-size: 15pt;
    opacity: 0.9;
}

.divider {
    color: white;
    margin: 25px 0px;
}

.center-content {
    position: absolute;
    left: 50%;
    top: 48%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.center-content .header {
    font-size: 52pt;
    font-weight: bold;
}

.center-content .subheader {
    font-size: 18pt;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 50px;
}

.center-content .mobile-paginator-spacing {
    visibility: hidden;
}

/* Average Phones Screen Width */
@media only screen and (max-width: 990px) {
    .center-content {
        height: 75%;
        width: 80%;
    }

    .center-content .header {
        font-size: 40pt;
    }
    
    .center-content .subheader {
        padding-bottom: 25px;
        font-size: 14pt;
    }

    .center-content .mobile-paginator-spacing {
        visibility: visible;
    }
}

/* Smallest Phones Screen Width */
@media only screen and (max-width: 370px) {
    .center-content {
        height: 70%;
    }

    .center-content .header {
        font-size: 34pt;
    }

    .center-content .subheader {
        font-size: 12pt;
    }
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}