.jumbo {
    position: absolute;
    left: 50%;
    top: 48%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.jumbo .header {
    font-size: 52pt;
    font-weight: bold;
}

.jumbo .subheader {
    font-size: 18pt;
    font-weight: bold;
    font-style: italic;
}

@media only screen and (max-width: 990px) {
    .jumbo .header {
        font-size: 32pt;
    }
    
    .jumbo .subheader {
        font-size: 16pt;
    }
}