.navbar {
    background-color: #121212 !important;
}

.bottom-bar .nav-link {
    color: #E0E0E0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 14pt;
    padding: 0px 30px 30px 30px;
}

.bottom-bar .nav-link :hover {
    opacity: 50%;
}

/* Remove default link style */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* Average Phones Screen Width */
@media only screen and (max-width: 600px) {
    .bottom-bar .nav-link {
        color: #E0E0E0;
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        font-size: 12pt;
        padding: 10px 0px;
    }
}

/* Smallest Phones Screen Width */
@media only screen and (max-width: 370px) {
    .bottom-bar .nav-link {
        color: #E0E0E0;
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        font-size: 9pt;
        padding: 10px 0px;
    }
}